<html>
    <head>
        <title>LaTeX Color Definitions</title>
        <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="css/custom.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        
        <script type="text/javascript">
$(document).ready(function() {
  //$(".latex").bind('copy', function(){});
  
  $(".latex",this).click(function() {
  	//$(this).css("color","red");
  	$(this).focus(function() {
  		//alert("Handler for .focus() called.");
    	$(this).select(function() {
    		alert("Handler for .select() called.");
  	    });
  	});
  	$(this).bind('copy');
  	//selectAllText($(this))    	
  });
});	
</script>
<meta name="google-site-verification" content="b_BuyJPGWk8Yh0Xiv2lQGVOkJ6qejDmeJmv7lDkSSnU" />        
    </head>
    <body>
        
        <div id="donate-sidebar-right">
            <%= erb('_partials/paypalbutton.html.erb') %>
        </div>


        <div class="container">
            <div>
                <%= erb('_partials/header.html.erb') %>

                <section>
                    <%= erb('_partials/colors.html.erb') %>
                </section>
<!--
                <%= erb('_partials/links.html.erb') %>
-->
                <section id="comments">
                    <%= erb('_partials/comments.html.erb') %>
                </section>

                <%= erb('_partials/footer.html.erb') %>
           </div>

        </div>

        <div class="doolin">
            <span class="shamrock">&#9752;</span> <a href="http://dool.in/" title="My routing page.">dool.in</a>
        </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-701371-26']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>
